@using Nop.Core
@using Nop.Core.Domain.Tax

@inject IWorkContext workContext

<footer class="footer">
	<div class="footer__upper-section   footer__upper-section--default">
		@{ await Html.RenderPartialAsync("_FooterLinks"); }
		@await Component.InvokeAsync(typeof(SocialButtonsViewComponent))
		@await Component.InvokeAsync(typeof(NewsletterBoxViewComponent))
	</div>
	<p class="footer__lower-section">
		@if (!Model.HidePoweredByNopCommerce)
		{
			<small class="powered-by">
				Powered by <a href="@(OfficialSite.Main)" target="_blank" @(Model.IsHomePage ? string.Empty : "rel=nofollow")>nopCommerce</a>
			</small>
		}
		<small>@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</small>
		@if (Model.DisplayTaxShippingInfoFooter)
		{
			var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
			<small>@T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteTopicUrl("shippinginfo"))</small>
		}
	</p>
	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.Footer, additionalData = Model })
</footer>