@model SocialModel

@{
	var socialLinks = new List<(bool Condition, string CssClass, string Url, string TranslationKey)>
	{
		(!string.IsNullOrEmpty(Model.FacebookLink), "facebook", Model.FacebookLink, "Footer.FollowUs.Facebook"),
		(!string.IsNullOrEmpty(Model.TwitterLink), "twitter", Model.TwitterLink, "Footer.FollowUs.Twitter"),
		(!string.IsNullOrEmpty(Model.YoutubeLink), "youtube", Model.YoutubeLink, "Footer.FollowUs.Youtube"),
		(!string.IsNullOrEmpty(Model.InstagramLink), "instagram", Model.InstagramLink, "Footer.FollowUs.Instagram"),
		(Model.NewsEnabled, "rss", Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId}), "Footer.FollowUs.RSS"),
		@* (true, "mastodon", "https://mastodon.social/", "Footer.FollowUs"), *@
	};
}

@if (socialLinks.Any(link => link.Condition))
{
	<nav class="wrapper-box   social-buttons">
		<h2 class="wrapper-box__label">@T("Footer.FollowUs")</h2>
		<ul class="wrapper-box__content">
			@foreach (var link in socialLinks.Where(link => link.Condition))
			{
				<li>
					<a class="@link.CssClass" href="@link.Url" target="_blank" rel="noopener noreferrer">@T(link.TranslationKey)</a>
				</li>
			}
		</ul>
	</nav>
}