.footer {
	--content-column: 64rem;
	
	background: var(--clr-neutral-200);
	display: grid;
	align-items: center;
	grid-template-columns: 
		minmax(0, auto) 
		minmax(0, 1.5rem) 
		minmax(min-content, max(var(--content-column)))
		minmax(0, 1.5rem) 
		minmax(0, auto);

	& > * {
		grid-column: 3;
	}
	
	a {
		color: var(--clr-neutral-600);

		&:hover,
		&:focus {
			color: var(--clr-brand-500);
			text-decoration: underline;
		}
	}

	small {
		font-size: inherit;
		line-height: 1.5;
	}

	.footer__upper-section {
		display: grid;
		gap: 2.5rem;
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
		padding-block: 2.5rem;
		
		
		@media (min-width: 769px) {
			gap: 1.5rem;

			.wrapper-box {
				grid-row: span 3;
			}
			
			.social-buttons {
				grid-row: span 1;
			}
	
			.newsletter-box {
				grid-column: -2 / -1;
				grid-row: span 1;
			}
		}
	}
	
	.footer__lower-section {
		border-top: thin solid var(--clr-neutral-300);
		color: var(--clr-neutral-600);
		font-size: var(--font-size-100);
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
		padding-block: 1.5rem;
	
		a {
			font-weight: bold;
			color: var(--clr-brand-700);
			
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		.powered-by {
			flex-grow: 1;
		}
	}
}