.wrapper-box {
	display: grid;
	align-content: start;
	gap: 1.25rem;

	&:is(.newsletter-box, .social-buttons) {
		gap: .5rem;
	}

	.wrapper-box__label {
		color: var(--clr-neutral-800);
		font-size: var(--font-size-400);
		font-weight: normal;
	}

	.wrapper-box__content {
		display: flex;
		flex-wrap: wrap;
		gap: .25rem;
	}

	&:is(.footer-links-column-1, .footer-links-column-2, .footer-links-column-3) {
		.wrapper-box__content {
			flex-direction: column;
			gap: 1rem;
		}
	}

	&:is(.social-buttons) {
		.wrapper-box__content {
			gap: .5rem;
		}
	}
}